.k-title {
    font-weight: 200;
    font-size: 55px;
}

.k-subtitle {
    font-weight: 300;
}

.green {
    color: #02bf95;
}

.social-link {
    margin-left: 15px;
}

.social-link-icon {
    color:#757575;
    font-size: 35px;
}