.k-title {
    font-weight: 200;
    font-size: 55px;
}

.k-subtitle {
    font-weight: 300;
}

.green {
    color: #02bf95;
}

.social-link {
    margin-left: 5px;
    height: 40px;
    width: 40px;
}